header, main, footer {
    outline: 0px solid blue;
}

.header-logo, .header-menu, .header-search, .header-login,
.header-cart, .breadcrumbs, .header-info, .banner-top, .banner-left, .banner-right,
.products-promo, .products-promo li, .products, .products li, .seo, .blog-news, .subscribe, .contacts,
.footer-social, .footer-sub-menu, .footer-developer, h2, form {
    outline: 0px solid yellow;
}


html, body {    
	margin: 0 auto;
    padding: 0;
    background: #ffffff;
}

body {
    max-width: 1200px;
    background: #8ba597 url('../img/background-1.png') no-repeat 78px 0;
    color: #ffffff;
    font-size: 16px;
    line-height: normal;
    font-weight: normal;
    font-family: Roboto, Arial, sans-serif;  
}

header {
    width: auto;
    min-height: 113px;
    padding-top: 6px; 
    padding-left: 27px;
    padding-right: 27px;
}

main {
    width: auto;
    padding-top: 3px;
    padding-left: 27px;
    padding-right: 27px;
}

footer {
    width: auto;
    min-height: 103px;     
    padding-left: 27px;
    padding-right: 27px;
}

h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

a:link,
a:visited {
    color: #ffffff;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.header-logo,
.header-menu,
.header-search,
.header-login,
.header-cart,
.breadcrumbs,
.catalog-title {
    display: inline-block;
    vertical-align: middle;
}

.header-logo {
    margin-top: 3px;
    margin-left: -5px;
    margin-right: 16px;
    font-size: 0;
}
 
.header-menu {
    position: relative;
    width: 700px;  
    margin-right: 20px; 
    padding-left: 0;
    font-size: 0;
}

.header-menu > li {
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle;
}

.header-menu > li> a {
    display: inline-block;
    padding: 9px 14px;
    padding-right: 15px;
    font-size: 16px;    
    vertical-align: middle;
}

.header-menu > li > a:hover {
    color: #000000;
    text-decoration: none;
    background: #ffffff;
    border-radius: 20px;
}

.header-menu > li:hover .header-sub-menu{
    display: block;
}

.header-sub-menu {
    display: none;
    position: absolute;
    top: 37px;
    left: -20px;
    width: 143px;
    height: 171px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #f8f7f4;
    border-radius: 5px;
}

.header-sub-menu a {
    display: block;
    width: 123px;
    color: #000000;
    text-decoration: none;    
    height: 28px;
    margin-top: 5px;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.header-sub-menu a:hover {
    background: #fbded8;
}

.header-search {
    position: relative;
    margin-right: 10px;
}

.header-search a {
    display: block;
    width: 33px;
    height: 33px;
    background: #aabab0 url('../img/search_icon.svg') no-repeat 8px 8px;
    border-radius: 50%;
}

.header-search a:hover {
    background: #f8f7f4 url('../img/search_icon_black.svg') no-repeat 8px 8px;
}

.header-search:hover .search-field{
    display: block;
}

.search-field{
    display: none;
    position: absolute;
    top: 34px;
    right: 00px;
    width: 342px;
    height: 69px;
    background: #f8f7f4;
    border-radius: 5px;
}

.search-field input[type="text"] {
    width: 309px;
    height: 35px;
    margin-top: 15px;
    margin-left: 16px;
    color: #000000;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    font-size: 14px;
    line-height: 24.3px;
    outline: none;
}

.header-login {
    position: relative;
    margin-right: 10px;
}

.header-login > a {
    display: block;
    box-sizing: border-box;
    width: 92px;
    height: 32px;
    padding-left: 26px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    background: #aabab0 url('../img/login_icon.svg') no-repeat 16px 6px;
    border-radius: 20px;
    text-decoration: none;
}

.header-login > a:hover {
    color: #000000;
    background: #f8f7f4 url('../img/login_icon_black.svg') no-repeat 16px 6px;
}

.header-login:hover .login-field {
    display: block;
}

.login-field {
    display: none;
    position: absolute;
    top: 32px;
    right: 00px;
    width: 241px;
    height: 145px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 15px;
    background: #f8f7f4;
    border-radius: 5px;
}

.login-field input[type="email"],
.login-field input[type="password"] {
    width: 239px;
    height: 35px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    font-size: 14px;
    line-height: 24.3px;
    outline: none;
    color: #000000;
}

.login-field input[type="submit"] {
    display: inline-block;
    width: 101px;
    height: 36px;
    margin-top: 5px;
    margin-right: 15px;
    background: #ed5a3d;
    border: none;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
    line-height: 24.3px;
    text-decoration: none;
}

.login-field a {
outline: 1px solid red;
    vertical-align: middle;
    color: #000000;
    font-size: 13px;
    line-height: 24.3px;
}

.header-cart {
    position: relative;
}

.header-cart > a{
    display: block;    
    width: 107px;
    height: 32px; 
    padding-left: 10px;  
    font-size: 14px; 
    text-align: center;
    line-height: 30px;
    background: #aabab0 url('../img/cart_icon.svg') no-repeat 16px 6px;
    border-radius: 20px;
    text-decoration: none;
}

.header-cart:hover .cart-field{
    display: block;
}

.header-cart:hover > a {
    background: #f8f7f4 url('../img/cart_icon_red.png') no-repeat 16px 6px;
    color: #000000;
}

.cart-field {
    position: absolute;
    top: 30px;
    right: 0;
    display: none;
    width: 523px;
    height: 239px;
    padding-top: 26px;
    padding-left: 17px;
    padding-right: 25px;
    padding-bottom: 15px;
    background: #f8f7f4;
    color: #000000;
}

.cart-table {
    font-size: 13px;
}

.cart-table a {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 14px;
    color: #000000;
    background: url('../img/x_icon.svg') no-repeat 0 0;
}

.cart-field-button {
    display: inline-block;
    width: 162px;
    height: 36px;
    margin-top: 5px;
    margin-right: 15px;
    background: #ed5a3d;
    border: none;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
    line-height: 36px;
    text-decoration: none;
}

.breadcrumbs {
    margin-top: 25px;   
}

.breadcrumbs ul{    
    margin: 0;
    padding-left: 0;
    font-size: 0;
}

.breadcrumbs li{
    display: inline-block;
    margin-right: 21px;
    font-size: 14px;
    vertical-align: middle;
}

.header-info {
    float: right;
    width: 170px;
    margin-top: 0px;   
    color: #ffffff;
    text-align: right;
}

.header-info .schedule {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.header-info .tel {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
}

/*оформление главной страницы*/

.banner-toggle {
    position: absolute; 
    top: 600px;
}

.banner-top {
    width: 750px;
    height: 215px;
    margin: 0 auto;
    margin-bottom: 38px;
    padding-top: 270px;
    text-align: center;
}

.banner-top-title {
    margin-bottom: 29px;
    font-size: 60px;
    font-weight: bold;
    line-height: 60.35px;
}

.banner-top-button {
    display: inline-block;
    width: 280px;
    height: 67px;
    background: #ed5a3d;
    border-radius: 40px;
    font-size: 31.48px;
    text-align: center;
    line-height: 62.93px;
    text-decoration: none;
}

.banner-wrapper {
    margin-bottom: 40px;
}

.banner-left,
.banner-right {   
    float: left;
    width: 525px;
    height: 213px;
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 15px;
    border-radius: 15px;
}

.banner-left {
    margin-right: 26px;
    background: #ab3454 url('../img/raspberry_background.png') no-repeat 0 0;
}

.banner-right {
    background: #6f5049 url('../img/choco_background.png') no-repeat 0 0;
}

.banner-left b,
.banner-right b {
    font-size: 35px;
}

.banner-left p,
.banner-right p {
    font-size: 18px;
}

.banner-button {
    display: inline-block;
    width: 165px;
    height: 46px;
    margin-top: 25px;
    margin-left: 354px;
    background: #ed5a3d;
    border-radius: 40px;
    font-size: 18px;
    text-align: center;
    line-height: 46px;
    text-decoration: none;
}


/*для отсутпа вместо margin-bottom у products используется margin-top у сл-го блока*/ 

.products ul {
    padding-left: 0;
    font-size: 0;
}

.products li {
    position: relative;
    display: inline-block;
    width: 267px;
    min-height: 330px;
    margin-right: 26px;
    margin-bottom: 30px;
    vertical-align: middle;
    font-size: 16px;
}

.products li:nth-child(4n) {
    margin-right: 0;
}

.products-hit {
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    background: url('../img/hit.png') no-repeat 0 0;
}

.products-photo {
    margin-bottom: 10px;
}

.products-price {
    position: absolute;
    top: 175px;
    left: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

.products-price span {
    font-size: 45px;
}

.products-title {
    display: inline-block;
    width: 251px;
    margin-left: 8px; 
    text-align: center;
    vertical-align: middle;
}

.products-view {
    display: none;
}

.seo {
    width: 1106px;
    height: 286px;
    margin-top: 1px;
    margin-bottom: 40px;
    padding: 10px 20px;
    color: #000000;
    background: #e7dabc url('../img/seo_background.jpg') repeat 0 0;
    border-radius: 15px;
}

.seo h1 {
    margin-bottom: 5px;
}

.seo-column-left,
.seo-column-right {
    float: left;
    width: 481px;
    padding-left: 57px;
}

.seo-column-left {
    margin-right: 30px;
    background: 
        url('../img/icecream_icon.svg') no-repeat 0 0,
        url('../img/leaf_icon.svg') no-repeat 0 70px;
}

.seo-column-right {
    background: 
        url('../img/cow_icon.svg') no-repeat 0 0,
        url('../img/thermometer_icon.svg') no-repeat 0 70px;
}

.subscribe-and-news-wrapper{
    margin-bottom: 40px;
}

.blog-news {
    float: left;
    width: 518px;
    height: 220px;
    margin-right: 26px;
    padding: 0 21px;
    color: #000000;
    background: url('../img/blog_background.png') no-repeat 0 0;
}

.blog-news p {

}

.blog-news a {
    display: inline-block;
    width: 286px;
    font-size: 24px;
    color: #000000;
}

.subscribe {    
    float: right;
    width: 518px;
    height: 180px;
    padding: 20px 21px;
    background: url('../img/subscribe_background.png') no-repeat 0 0;
}

.subscribe p {
    color: #000000;
}

.subscribe-form input[type="email"] {
    width: 368px;
    height: 44px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.subscribe-form input[type="submit"] {
    display: inline-block;
    width: 131px;
    height: 47px;
    margin-top: 25px;
    margin-left: 10px;
    background: #ed5a3d;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    text-align: center;
    line-height: 46px;
    text-decoration: none;
}

.contacts {
    width: 1200px;
    height: 430px;
    margin-left: -27px;
    background: url('../img/map_background.jpg') no-repeat 0 0;
    color: #000000;
}

.contacts-info {
    float: right;
    width: 252px;
    height: 290px;
    margin-top: 65px;
    margin-right: 27px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background: #ffffff;
    border-radius: 5%;
}

.contacts-info p,
.contacts-info span {
    font-size: 14px;
    line-height: 20px;
}

.contacts-info b {
    font-size: 18px;
    line-height: 24px;
}

.contacts-info span {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: -5px;
}

.contacts .contacts-tel {
    display: inline-block;    
    vertical-align: middle;
    margin-top: -5px;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
}

.contacts-info-button {
    display: inline-block;
    width: 252px;
    height: 46px;
    margin-top: 10px;
    margin-left: 0px;
    background: #ed5a3d;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    text-align: center;
    line-height: 46px;
    text-decoration: none;
}

.feedback-form {
    display: none;
}

/*оформление главной страницы (окончание)*/


/*оформление страницы каталога*/

.catalog-title{
    margin: 0;
    margin-bottom: 32px;
    color: #ffffff;
    font-size: 35px;
    line-height: 30px;    
    font-weight: bold;
}

.filter-form {
    display: block;
    margin-bottom: 40px;
}


.filter-type-wrapper{
    display: inline-block;
    width: 193px;
    margin-right: 12px;
    vertical-align: middle;
}

.filter-type-name {
    margin-bottom: 5px;
    padding-left: 16px;
    font-size: 14px;
}

.filter-type {
    width: 195px;
    height: 38px;    
    margin-left: -1px;
    padding-left: 11px;
    background: #aabab0;
    border-radius: 20px;
}

.range-filter{    
    display: inline-block;
    width: 218px;
    margin-right: 11px;
    color: #ffffff;    
    vertical-align: middle;
}

.price-controls {
    width: 180px;
    margin-bottom: 5px;
    padding-left: 14px;
    font-size: 14px;
}

.range-controls{
    position: relative;
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    background: #aabab0;
    border-radius: 20px;
    overflow: hidden;
}

.range-filter .scale{
    margin-top: 16px;
    height: 4px;
    background: #d1d9d2;
}

.range-filter .scale .bar{
    height: 4px;
    width: 98px;
    margin-left: 35px;
    background: #f8f7f4;
}

.toggle{
    position: absolute;
    top: 8px;
    left: 44px;
    width: 20px;
    height: 20px;
    background: #f8f7f4;
    cursor: pointer;
    border-radius: 50%;
}

.min-toggle{
    left: 34px;
}

.max-toggle{
    left: 132px;
}

.min-price, 
.max-price {
    width: 60px;
    margin-left: 5px;
    padding-left: -2px;
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
}

.fatness-filter-wrapper{
    display: inline-block;
    width: 435px;    
    font-size: 0;
    vertical-align: middle;
}

.fatness-filter-name {
    margin-bottom: 5px;
    padding-left: 16px;
    font-size: 14px;
}

.fatness-filter {
    width: 395px;
    height: 36px;
    margin: 0;
    padding-left: 20px;
    line-height: 36px;
    background: #aabab0;
    border-radius: 20px;
}

.fatness-filter li{
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    vertical-align: middle;
}

.fillings-filter-wrapper {
    display: inline-block;
    width: 702px;
    margin-top: 15px;    
    margin-right: 10px;
    font-size: 0px;
    vertical-align: middle;
}

.fillings-filter-name {
    margin-bottom: 7px;
    padding-left: 16px;
    font-size: 14px;
}

.fillings-filter {
    width: 686px;
    height: 36px;
    margin: 0;
    padding-left: 16px;
    background: #aabab0;
    border-radius: 20px;
    line-height: 36px;
}

.fillings-filter li {    
    display: inline-block;
    margin-right: 21px;
    font-size: 16px;
    vertical-align: middle;
}

.filter-form-button {
    display: inline-block;
    vertical-align: bottom;
    width: 144px;
    height: 36px;
    border: 2px solid #f6f8f7;
    background: #aabab0;
    border-radius: 20px;  
}

.paginator{
    float: right;
    width: 190px;
    margin-top: 48px;
    margin-bottom: 39px;
}

.paginator ul {
    margin: 0;
    padding-left: 0;
}

.paginator li {
    display: inline-block;
    margin-right: 16px;
    vertical-align: middle;
}

.paginator li:last-child {
    margin-right: 0px;
}

.paginator a {
    text-decoration: none;
}

.paginator .prev {
    opacity: 0.2;
}

.paginator .active {
    display: inline-block;
    width: 26px;
    height: 25px;    
    margin-left: -5px;
    margin-right: -10px;
    color: #000000;
    background: #ffffff;
    text-align: center;
    border-radius: 50%;
    line-height: 25px;
}

/*оформление страницы каталога (окончание)*/


.footer-border{    
    margin-bottom: 19px;
    border-top: 1px solid #ffffff;
    opacity: 0.3;
}

.footer-social {
    display: inline-block;
    vertical-align: top;
    margin-right: 213px;
    font-size: 0;
}

.footer-social ul{
    margin: 0;
    padding-left: 0px;
}

.footer-social li {
    display: inline-block;
    width: 31px;
    height: 31px;
    margin-right: 12px;
    border: 3px solid #c2cec7;
    border-radius: 50%;
    background: #e6ebe9;
    vertical-align: middle;
}

.footer-social li:last-child {
    margin-right: 0;
}

.footer-sub-menu {
    display: inline-block;
    margin-right: 213px;
    vertical-align: top;
}

/*
.footer-sub-menu ul{
    width: 300px;
    margin: 0;
    padding-left: 22px;
}

.footer-sub-menu li {
    display: inline-block;
    margin-right: 33px;
    margin-bottom: 5px;
    font-size: 13px;
    vertical-align: middle;
}

.footer-sub-menu li:last-child {
    margin-right: 0;
}
*/

.sub-menu-left {
    float: left;
    width: 110px;
    margin-right: 33px;
    padding-left: 22px;
    font-size: 13px;
}

.sub-menu-right {
    float: left;
    width: 160px;
    font-size: 13px;
}

.sub-menu-left a,
.sub-menu-right a {
    display: block;
    margin-bottom: 5px;
}

.footer-developer {    
    display: inline-block;
    width: 193px;
    font-size: 12px;
    vertical-align: top;
}

.footer-developer img {
    margin-bottom: -8px;
}